<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Dep.mapper.DepartmentMapper">
    
    <resultMap type="Department" id="DepartmentResult">
        <result property="departmentId"    column="department_id"    />
        <result property="departmentCode"    column="department_code"    />
        <result property="departmentName"    column="department_name"    />
        <result property="headFacultyId"    column="head_faculty_id"    />
        <result property="headFacultyName"    column="head_faculty_name"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectDepartmentVo">
        select d.department_id, d.department_code, d.department_name, d.head_faculty_id, f.name as head_faculty_name, d.description 
        from department d
        left join faculty f on d.head_faculty_id = f.faculty_id
    </sql>

    <select id="selectDepartmentList" parameterType="Department" resultMap="DepartmentResult">
        <include refid="selectDepartmentVo"/>
        <where>  
            <if test="departmentCode != null  and departmentCode != ''"> and d.department_code = #{departmentCode}</if>
            <if test="departmentName != null  and departmentName != ''"> and d.department_name like concat('%', #{departmentName}, '%')</if>
            <if test="headFacultyId != null "> and d.head_faculty_id = #{headFacultyId}</if>
            <if test="headFacultyName != null  and headFacultyName != ''"> and f.name like concat('%', #{headFacultyName}, '%')</if>
            <if test="description != null  and description != ''"> and d.description = #{description}</if>
        </where>
    </select>
    
    <select id="selectDepartmentByDepartmentId" parameterType="Long" resultMap="DepartmentResult">
        <include refid="selectDepartmentVo"/>
        where d.department_id = #{departmentId}
    </select>

    <insert id="insertDepartment" parameterType="Department" useGeneratedKeys="true" keyProperty="departmentId">
        insert into department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="departmentCode != null and departmentCode != ''">department_code,</if>
            <if test="departmentName != null and departmentName != ''">department_name,</if>
            <if test="headFacultyId != null">head_faculty_id,</if>
            <if test="description != null">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="departmentCode != null and departmentCode != ''">#{departmentCode},</if>
            <if test="departmentName != null and departmentName != ''">#{departmentName},</if>
            <if test="headFacultyId != null">#{headFacultyId},</if>
            <if test="description != null">#{description},</if>
         </trim>
    </insert>

    <update id="updateDepartment" parameterType="Department">
        update department
        <trim prefix="SET" suffixOverrides=",">
            <if test="departmentCode != null and departmentCode != ''">department_code = #{departmentCode},</if>
            <if test="departmentName != null and departmentName != ''">department_name = #{departmentName},</if>
            <if test="headFacultyId != null">head_faculty_id = #{headFacultyId},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where department_id = #{departmentId}
    </update>

    <delete id="deleteDepartmentByDepartmentId" parameterType="Long">
        delete from department where department_id = #{departmentId}
    </delete>

    <delete id="deleteDepartmentByDepartmentIds" parameterType="String">
        delete from department where department_id in 
        <foreach item="departmentId" collection="array" open="(" separator="," close=")">
            #{departmentId}
        </foreach>
    </delete>

    <update id="clearHeadFacultyByFacultyId" parameterType="Long">
        update department set head_faculty_id = null where head_faculty_id = #{facultyId}
    </update>

    <select id="checkDepartmentCodeUnique" parameterType="String" resultMap="DepartmentResult">
        select department_id, department_code from department where department_code = #{departmentCode} limit 1
    </select>

    <select id="checkDepartmentNameUnique" parameterType="String" resultMap="DepartmentResult">
        select department_id, department_name from department where department_name = #{departmentName} limit 1
    </select>

    <select id="checkHeadFacultyIdUnique" parameterType="Long" resultMap="DepartmentResult">
        select department_id, head_faculty_id from department where head_faculty_id = #{headFacultyId} limit 1
    </select>
</mapper>